@import 'theme/variables.scss';

page-register {
    ion-title{
        text-align: center;
    }
    .title{
        padding-top: 6vw;
        margin-bottom: 2vw;
        font-family: 'Montserrat', sans-serif;
        color: #0077bd;
        font-size:  10vw;
        font-weight: 300;
    }
    .padInput{
        padding: 0;
    }
    .Head {
        font-size: 4vw;
        color: #0077bd;
    }
    .Head2 {
        font-size: 5vw;
        color: gray;
    }
    .Link {
        font-size: 5vw;
        color: #1e99d0;
    }
    .tombol {
        height: 7vw !important;
        color: gray;

        position: relative;
        top: 5vw;
        // width: 100%;
    }
    .icon {
        font-size:7vw;
        
        float:right;
    }
    .ButtonMasuk {
        height: 45px;
        font-size: 15px;
    }
    .back_button {
        background: transparent;
        .back {
            color: map-get($colors, primary);
        }
    }

    .Warning {
        font-size: 3vw;
    }
    
}
