page-edit-profile {
    .photoprofile{
        position: relative;
        .crcl {
            position: absolute;
            margin-left: 55%;
            margin-top: 20%;
            width: 35px;
            height: 35px;
            background-color: white;
            border-radius: 75px;
        }
        .editIcon{
            position: absolute;
            margin-left: 60%;
            margin-top: 25%;
            color: grey;
        }

    margin: auto;
    width: 40%;
    display: block;
    }

    .Pict {
        height: 30vw; 
        width: 30vw; 
        border-radius: 100%;
        margin-top: 7vw;
        display: block;
        margin-left: auto;
        margin-right: auto
    }


    .Nama {
        text-align: center;
        color: #202020;
        // font-size: 18px;
        font-size: 6vw;
        font-weight: 5px;
    }
    
    .Head {
        margin-left: 4vw;
        font-size: 5vw;
        font-weight: 6px;
        color: #202020;
    }
    .HeadSpesial {
        margin-left: 5vw;
        text-align: center;
        margin-top: 2vw;
        font-size: 5vw;
        font-weight: 6px;
    }

    .konten {
        text-align: center;
        margin-left: 4vw;
        font-size: 5vw;
        color: gray;
    }

    .Icon {
        padding-left: 5vw;
        font-size: 10vw;
        color: #1e99d0;
    }

    .IconSpesial {
        padding-left: 5vw;
        font-size: 10vw;
        color: rgba(1,1,1,0);
    }

    .IconMail {
        padding-left: 5vw;
        font-size: 10vw;
        color: #1e99d0;
    }

    .Button {
        height: 10vw !important;
        width: 100%;
        margin-top: 3vw; 
    }

    .ButtonWordWhite {
        font-size: 5vw;
        font-weight: 2px;
        color: white;
    }

    .ButtonWordBlack {
        font-size: 5vw;
        font-weight: 2px;
        color: #f53d3d;
    }

    .masukan{
        border: 0vw;
        margin-left: 4vw;
        font-size: 5vw;
    }

    #profile-image {
        display: block;
        border-radius: 100%;
        width: 170px;
        height: 170px;
        margin: 0 auto 0;
        box-shadow: 0px 11px 20px -3px rgba(143, 134, 134, 0.75);
      }
}
