<ion-header color="aziznav">
  <ion-navbar color="nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card class="myCard"*ngFor="let data of datas" (click)="detail(data)">
    <div class="row">
      <div col-6>
        <div class="row nama_barang">
          {{data.namaBarang}}
        </div>
        <div *ngIf="data.harga" class="row harga_barang">
          Rp.{{data.harga}}
        </div>
        <div *ngIf="!data.harga" class="row harga_barang">
          Rp. -
        </div>
      </div>
      <div col-6 class="status_barang">
        <div class="active" *ngIf="data.status ==1">
          Penjemputan
        </div>

        <div class="active" *ngIf="data.status ==2">
           Diagnosa
        </div>

        <div class="help" *ngIf="data.status ==3">
          Silahkan lakukan konfirmasi
        </div>

        <div class="active" *ngIf="data.status ==5">
          Menunggu pengerjaan
        </div>

        <div class="active" *ngIf="data.status ==6">
          Dalam proses reparasi
        </div>

        <div class="active" *ngIf="data.status ==7">
          Selesai
        </div>
      </div>
    </div>
  </ion-card>

  <!-- <ion-card *ngFor="let data of datas" (click)="detail(data)">
      <img *ngIf="!data.foto" src="assets/imgs/rusak1.jpg"/>
      <img [src]=this.gambar+data.foto *ngIf="data.foto" width="300" height="400"/>
      <ion-card-content class="content">
        <div class="borderCard">
        </div>

        <div class="row" *ngIf="data.status ==1" class="status">
          Status: Penjemputan
        </div>

        <div class="row" *ngIf="data.status ==2" class="status">
          Status: Diagnosa
        </div>

        <div class="row" *ngIf="data.status ==3" class="status">
          Status: Silahkan lakukan konfirmasi
        </div>

        <div class="row" *ngIf="data.status ==5" class="status">
          Status: Menunggu pengerjaan
        </div>

        <div class="row" *ngIf="data.status ==6" class="status">
          Status: Dalam proses reparasi
        </div>

        <div class="row" *ngIf="data.status ==7" class="status">
          Status: Selesai
        </div>


        <div class="statBorder">
        </div>
        <div class="judul">
          {{data.namaBarang}}
        </div>
          <h3 class="Link">
            <a (click)="detail(data)"> Detail </a>
          </h3>
      </ion-card-content>
  </ion-card> -->

  <ion-fab right bottom class="tambahBarang">
    <button ion-fab color="light" (click)="add()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
