page-home {
    .Link {
        text-align: center;
        font-size: 5vw;
        margin: 3vw;
        color: #1e99d0;
    }

    .Done{
        color: black;
    }

    .Undone{
        color: grey;
    }

    .judul{
        font-size: 5vw;
        margin: 2vw;
        margin-left: 4vw;
        margin-bottom: 0.5vw;
    }

    ion-icon {
        color: #1e99d0;
        font-size: 5vw; //Preferred size here
    }

    .status{
        padding: 0vw;
        margin: 2vw;
        margin-left: 4vw;
        color: #0077db;
    }

    .content{
        padding: 0vw;
    }

    .tanggal{
        margin: 0.5;
        margin-left: 4vw;
    }

    .kartu{
        min-width: 100vw;
        padding: 0;
        margin: 4vw;
    }

    .borderCard{
        height: 4vw;
        background-color: #0077db;
    }

    .statBorder{
        height: 0.5vw;
        margin-left: 4vw;
        margin-right: 40vw;
        background-color: #0077db; 
    }

    .linkBorder{
        background-color: gray;
        height: 0.15vw;
    }
    .foto_barang > img{
        width: 50%;
    }
}
