page-home {
    .Link {
        text-align: center;
        font-size: 5vw;
        margin: 3vw;
        color: #1e99d0;
    }

    .Done{
        color: black;
    }

    .Undone{
        color: grey;
    }

    .judul{
        font-size: 5vw;
        margin: 2vw;
        margin-left: 4vw;
        margin-bottom: 0.5vw;
    }

    ion-icon {
        color: #1e99d0;
        font-size: 5vw; //Preferred size here
    }

    .status{
        padding: 0vw;
        margin: 2vw;
        margin-left: 4vw;
        color: #0077db;
    }

    .content{
        padding: 0vw;
    }

    .tanggal{
        margin: 0.5;
        margin-left: 4vw;
    }

    .kartu{
        min-width: 100vw;
        padding: 0;
        margin: 4vw;
    }

    .borderCard{
        height: 4vw;
        background-color: #0077db;
    }

    .statBorder{
        height: 0.5vw;
        margin-left: 4vw;
        margin-right: 40vw;
        background-color: #0077db; 
    }

    .linkBorder{
        background-color: gray;
        height: 0.15vw;
    }
    .foto_barang > img{
        width: 50%;
    }


    //revisi prames

    ion-card{
        margin-bottom: 5vw!important;
    }

    .nama_barang{
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        color: #0077bd;
        margin: 2vw;
        margin-bottom: 4vw;
    }

    .harga_barang{
        margin: 4vw 2vw;
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #F7D900
    }

    .status_barang{
        display: table;
        height: 80px;
        width: 100%;
        text-align: right;
        //padding: 6vw;
        padding-right: 3vw;
        //border: 2px dashed #f69c55;
    }
    .help {
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        display: table-cell;
        vertical-align: middle;
        margin-right: 2vw;
    }

    // .status_barang{
    //     display: flex!important;
    //     align-content: center!important;
    //     align-items: center!important;
    // }

    // .card_curve{
    //     border-radius: 5%
    // }
}
