<ion-header color="aziznav">
  <ion-navbar color="nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card *ngFor="let data of datas" (click)="detail(data)">
    <img *ngIf="!data.foto" src="assets/imgs/rusak1.jpg"/>
    <img [src]=this.gambar+data.foto *ngIf="data.foto"/>  
      <ion-card-content class="content">
        <div class="borderCard">
        </div>
        <div class="row" class="status">
          Status: Diagnosa
        </div>
        <div class="statBorder">
        </div>
        <div class="judul">
          {{data.namaBarang}}
        </div>
          <h3 class="Link">
            <a (click)="detail(data)"> Detail </a>
          </h3>
      </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="add()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
