page-history {
  //revisi prames

    ion-card{
        margin-bottom: 5vw!important;
    }

    .nama_barang{
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        color: #0077bd;
        margin: 2vw;
        margin-bottom: 4vw;
    }

    .harga_barang{
        margin: 4vw 2vw;
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #F7D900
    }

    .status_barang{
        display: table;
        height: 5em;
        width: 100%;
        text-align: right;
        //padding: 6vw;
        padding-right: 1em;
        //border: 2px dashed #f69c55;
    }
    .help {
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        display: table-cell;
        vertical-align: middle;
        margin-right: 2vw;
    }

    .statusBatal {
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        display: table-cell;
        vertical-align: middle;
        margin-right: 2vw;
        color : #DC3545;
    }

    .statusBerhasil {
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        display: table-cell;
        vertical-align: middle;
        margin-right: 2vw;
        color : #28A745;
    }

    

    .myCard{
        border-radius: 20px;
    }
    .scroll-content{
        top:15vw
    }
}
