page-history {
  .Status {
      font-size: 46 px !important;
      text-align: left;
  }

  .Link {
      text-align: center;
      font-size: 5vw;
      color: #1e99d0;
  }

  .Done{
      color: black;
  }

  .Undone{
      color: grey;
  }
}
