<ion-header color="aziznav">
  <ion-navbar color="nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Riwayat</ion-title>
  </ion-navbar>
</ion-header>
  
  
  
  <ion-content>
    <ion-card *ngFor="let data of datas" (click)="detail(data)">
      <img *ngIf="!data.foto" src="assets/imgs/rusak1.jpg"/>
      <img [src]=this.gambar+data.foto *ngIf="data.foto" width="300" height="400"/>
        <ion-card-content>
          <ion-card-title>
            {{data.namaBarang}}
          </ion-card-title>
            <p class="Status" *ngIf="data.status == 9"> Status: Selesai</p>
            <p class="Status" *ngIf="data.status == 4"> Status: Dibatalkan</p>
            <h3 class="Link">
              <a (click)="detail(data)"> Detail </a>
            </h3>
        </ion-card-content>
    </ion-card>
  </ion-content>
  