<!-- <ion-header color="aziznav">
  <ion-navbar color="nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beranda</ion-title>
  </ion-navbar>
</ion-header> -->


<page-navbar></page-navbar>

<ion-content class="background">

  <!-- ini slide -->
  <!-- <ion-slides pager>
    <ion-slide style="background-color: green">
      <h2>Slide 1</h2>
    </ion-slide>
    <ion-slide style="background-color: blue">
      <h2>Slide 2</h2>
    </ion-slide>
    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>
  </ion-slides> -->

  <ion-card class="head">
    <div class="head_text">
      Ulasan Tentang Kami :
    </div>
  </ion-card>
  
  <!-- card prames -->
  <ion-card class="cont" *ngFor="let data of datas">
    <div class="row level1">
      <div col-2>
          <img class="display_picture" src="assets/imgs/man1.jpg">
      </div>
      <div col-10>
        <div class="row name">
          {{data.customerName}}
        </div>
        <div class="row date">
            {{data.created_at.date}}
        </div>
      </div>
    </div>
    <div class="row">
     <div col-6>
        <img class="image" *ngIf="!data.fotoSebelum" src="assets/imgs/awal.jpg">
        <img class="image" [src]=this.gambar+data.fotoSebelum *ngIf="data.fotoSebelum"/>
      </div>
      <div col-6>
        <img class="image" *ngIf="!data.fotoSesudah" src="assets/imgs/bongkar.jpg">
        <img class="image" [src]=this.gambar+data.fotoSesudah *ngIf="data.fotoSesudah"/>
      </div> 
    </div>
    <div class="row level1">
      <div col-2 class="help">
          <img class="thumb" src="assets/imgs/thumb.png">
      </div>
      <div col-10>
        <div class="reviews">
          {{data.content}}
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
