// http://ionicframework.com/docs/theming/
ion-header::after {
    background-image: none;
}

.judul{
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: #0077bd;
    font-size: 6vw;
    font-weight: 400;
    padding: 1vw 1vw 1vw 3vw;
}

.ikon{
    padding-right: 3vw;
}

#menu_content {
    margin-top: 9vw !important;
    background-color: #FFFFFF !important;
}

// ion-content{
//     margin-top: 10%;
//     background-color: $azizbg !important;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.menu{
    padding: 1vw;
    padding-left: 6vw;
    font-size: 17px;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
