page-detail {
    .judul {
        text-align: center;
    }

    pre {
        font-family: roboto;
    }

    .iconable{
        color: black;
    }

    .icondisable{
        color: gray;
    }

    ion-icon {
        font-size: 40px; //Preferred size here
    }

    .lingkaran{
        background-color: black;
        height: 3vw;
        width: 3vw;
        border-radius: 100%;
        margin-left: 30%;
        margin-top: 25%;
    }

}
