<!--
  Generated template for the DetailriwayatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav">
    <ion-title>detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img  src="assets/imgs/rusak.jpeg"/>
  <!-- <img [src]=this.gambar+data.foto *ngIf="data.foto"  width="460" height="300"/> -->
  <div padding>
    <h2 class="judul"> data.namaBarang </h2>
      <!-- <div class="row">
        <div col-4>Nomor Telepon</div>
        <div col-1>:</div>
        <div col-7>{{09888888888}}</div>
      </div> -->
      <div class="row">
        <div col-4>Tanggal masuk</div>
        <div col-1>:</div>
        <div col-7>tanggalIn</div>
      </div>
      <div class="row">
        <div col-4>Tanggal selesai</div>
        <div col-1>:</div>
        <div col-7>-</div>
      </div>
      <div class="row">
        <div col-4>Kelengkapan</div>
        <div col-1>:</div>
        <div col-7> data.kelengkapan</div>
      </div>
      <div class="row">
        <div col-4>Jenis servis</div>
        <div col-1>:</div>
        <div col-7>data.tipeKerusakan</div>
      </div>
      <div class="row">
        <div col-4>Total biaya</div>
        <div col-1>:</div>
        <!-- <div col-7 *ngIf=!data.harga>-</div> -->
        <!-- <div col-7 *ngIf=data.harga>Rp data.harga</div> -->
        <div col-7>Rp data.harga</div>
      </div>
      <div class="row">
        <div col-4>Garanis</div>
        <div col-1>:</div>
        <div col-7>X Hari</div>
      </div>
    </div>

</ion-content>
